:host {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;

    h2 {
        text-align: center;
        margin-bottom: 2rem;
    }

    button {
        display: flex;
        margin: 0 auto;
        font-size: 1.25rem;
    }
}

.mat-card {
    display: flex;
    flex-direction: column;
    max-width: 80vh;

    .mat-card-title {
        text-align: center;
    }
    .mat-card-content {
        margin-top: 2rem;
    }
    .mat-card-actions {
        display: flex;
        justify-content: center;
        .mat-button {
            font-size: 1rem;
        }
    }
}

::ng-deep .mat-button-toggle-group-appearance-standard {
    border: none;
}

.fitness-tracker-exercise-group {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.fitness-tracker-exercise {
    border-radius: 100%;
    border: 1px solid rgba(0,0,0,.12);
    height: 5.5rem;
    width: 5.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 0.3rem 0.75rem 0;

    ::ng-deep .mat-button-toggle-label-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        span {
            margin-top: -1rem;
            font-size: 0.75rem;
            margin-bottom: -0.75rem;
        }
    }

    &.mat-button-toggle-checked {
        background: #3f51b5;
        color: white;
    }

}
