<section>
    <form #form="ngForm" (ngSubmit)="onSubmit(form)">
        <mat-form-field>
            <input type="email" matInput
                placeholder="Your email"
                ngModel
                name="email"
                required
                #emailInput="ngModel"
                email>
            <mat-error *ngIf="emailInput.hasError('required')">Field must not be empty.</mat-error>
            <mat-error *ngIf="!emailInput.hasError('required')">E-mail is invalid</mat-error>
        </mat-form-field>
        <mat-form-field hintLabel="Should be at least 6 characters long.">
            <input type="password" matInput
                placeholder="Your password"
                ngModel
                name="password"
                required
                minlength="6"
                #pwInput="ngModel">
            <mat-hint align="end" *ngIf="pwInput.value?.length > 0">{{ pwInput.value?.length}}</mat-hint>
            <mat-error>Field must not be empty.</mat-error>
        </mat-form-field>
        <mat-form-field class="picker">
            <input matInput
                placeholder="Your birthdate"
                [matDatepicker]="picker"
                [max]="maxDate"
                name="birthdate"
                ngModel
                #birthdateInput="ngModel"
                required>
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
            <mat-error *ngIf="birthdateInput.hasError('required')">Field must not be empty.</mat-error>
            <mat-error *ngIf="!birthdateInput.hasError('required')">Date is invalid</mat-error>
        </mat-form-field>
        <mat-checkbox ngModel #agreeInput="ngModel" name="agree" required>Agree to Terms and Conditions.</mat-checkbox>

        <button type="submit" mat-raised-button color="primary" [disabled]="form.invalid">Submit</button>
    </form>
</section>
