@import "~@angular/material/prebuilt-themes/indigo-pink.css";

html, body{
    font-family: "Roboto", 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    margin: 0;
}

.mat-sidenav-container {
    flex: 1 1 auto;
    .mat-drawer-content {
        display: flex;
        flex-direction: column;
        .mat-toolbar {
            display: flex;
            align-items: center;
        }
    }
}
